Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    FastCheckFilter: None
CompileFlags:
  CompilationDatabase: ./dist
  Remove: [-fvar-tracking, -fno-merge-debug-strings]
Index:
  StandardLibrary: true
Style:
  AngledHeaders: ["fmt/.*"]
Completion:
  ArgumentLists: Delimiters
InlayHints:
  BlockEnd: true
Hover:
  ShowAKA: true